/* ================== PORTRAIT */

.acp-image {
    border: none;
    cursor: pointer;
    margin: 0 !important;
    outline: none;
    padding: 0;
}

.acp-portrait .window-content {
    padding: 0px !important;
}

/* ================== SELECTOR */

.acp-char {
    cursor: pointer;
    display: flex;
    gap: 1em;
    height: unset !important;
    justify-content: space-around;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0px;
    text-align: left;
    white-space: nowrap;
}

.acp-char-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.acp-char .acp-image {
    border-right-color: inherit;
    border-right-style: solid;
    border-right-width: 1px;
}

#acp-char-search {
    flex: 10;
}

.acp-details {
    width: 100%;
}

.acp-name {
    font-size: 1.2em;
    font-weight: bold;
}

.acp-own {
    font-size: 0.8em;
    color: var(--color-form-hint);
    text-transform: uppercase;
}

