<div id="char-select">
    <button data-action="unselect-char">Unselect Character</button>
    </br></br>
    <div class="acp-char-table">
    {{#each chars}}
        <button class="acp-button acp-char" data-action="select-char" data-char-id="{{_id}}" title="{{name}}">
            <div style="align-items:center;display:flex;gap:10px">
                <img class="acp-image" src="{{img}}" height="64" width="64"/>
                <span>{{name}}</span>
            </div>
        </button>
    {{/each}}
    </div>
</div>
