<button class="acp-button" data-action="openConfig" title="{{localize 'ACP.open-config'}}">
    <img class="acp-image" id="characterImg" data-action="openConfig" src="{{img}}" height="196" width="196"/>
</button>

