<div style="display:flex" role="button" data-action="openConfig">
    <img class="acp-image" data-action="openConfig" data-tooltip="{{localize 'ACP.open-config'}}" id="characterImg"  src="{{img}}" />
</div>
