<div style="display:flex" role="button" data-action="openConfig">
    <img class="acp-image" data-action="openConfig" title="{{localize 'ACP.open-config'}}" id="characterImg"  src="{{img}}" height="200" width="200"/>
</div>
